<!-- Navigation -->
{% if page.nav-style == "invert" or page.header-style == "text" %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top invert">
{% else %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
{% endif %}
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
            
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a><span class="icons8-search">
                            <svg fill="#6c757d" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 13.261719 14.867188 L 15.742188 17.347656 C 15.363281 18.070313 15.324219 18.789063 15.722656 19.1875 L 20.25 23.714844 C 20.820313 24.285156 22.0625 23.972656 23.015625 23.015625 C 23.972656 22.058594 24.285156 20.820313 23.714844 20.25 L 19.191406 15.722656 C 18.789063 15.324219 18.070313 15.363281 17.347656 15.738281 L 14.867188 13.261719 Z M 8.5 0 C 3.804688 0 0 3.804688 0 8.5 C 0 13.195313 3.804688 17 8.5 17 C 13.195313 17 17 13.195313 17 8.5 C 17 3.804688 13.195313 0 8.5 0 Z M 8.5 15 C 4.910156 15 2 12.089844 2 8.5 C 2 4.910156 4.910156 2 8.5 2 C 12.089844 2 15 4.910156 15 8.5 C 15 12.089844 12.089844 15 8.5 15 Z"></path></svg>
                        </span></a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/">Home</a>
                    </li>
                    {% for page in site.pages %}
                    {% if page.title and page.hide-in-nav != true %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="search-content-container">
    <div class="search-content-wrapper">
        <div id="search-searchbar"></div>
        <h1 class="page-heading">Searched Posts</h1>
        <div class="post-list" id="search-hits"></div>
    </div>
</div>
<!-- google search-->
<!-- <script async src="https://cse.google.com/cse.js?cx=000737774139442002237:oflx4mtgklw"></script>

<div class="google-search-bar">
    <div class="gcse-search"></div>
</div>
<style>
    .google-search-bar {position: fixed; margin-top: 10rem; opacity:0}
</style> -->

<!-- algolia -->
<script>
        
        const search = instantsearch({
            appId: '{{site.algolia.application_id}}',
            apiKey: '{{site.algolia.search_only_api_key}}',
            indexName: '{{site.algolia.index_name}}',
            routing: true
        });
        const hitTemplate = function(hit) {
            let date = '';
            if (hit.date) {
                date = moment.unix(hit.date).format('MMM D, YYYY');
            }

            let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;

            const title = hit._highlightResult.title.value;
            const subtitle = hit.subtitle;
            const author = hit.author;
            let breadcrumbs = '';
            if (hit._highlightResult.headings) {
                breadcrumbs = hit._highlightResult.headings.map(match => {
                return `<span class="post-breadcrumb">${match.value}</span>`
                }).join(' > ')
            }

            const content = hit._highlightResult.matchedWords;

            return `
                <div class="post-item">
                <a class="post-link" href="${url}">
                    <h2 class='post-title'>${title}</h2>
                    <h3 class='post-subtitle'>${subtitle}</h3>
                </a>
                <span class="post-meta">
                    Posted by ${author} in ${date}
                </div>
            `;
        }
                // Adding searchbar and results widgets
        search.addWidget(
            instantsearch.widgets.searchBox({
                container: '#search-searchbar',
                placeholder: 'Search into posts...',
                poweredBy: true // This is required if you're on the free Community plan
            })
        );
        search.addWidget(
        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
            item: hitTemplate
            }
        })
        );
        search.addWidget(
            instantsearch.widgets.hits({
                container: '#search-hits'
            })
        );
        // Starting the search
        search.start();
    </script>
    <script>
    let searchWindow = document.getElementsByClassName('search-content-wrapper')[0];
    searchWindow.style.display = 'none';
        /*  */
        const searchIcon = document.getElementsByClassName('icons8-search')[0].addEventListener('click',function(){
            let searchWindow = document.getElementsByClassName('search-content-wrapper')[0];
            if(searchWindow.style.display== 'none'){
                document.getElementsByClassName('search-content-wrapper')[0].style.display = 'block'
                searchWindow.style.display= 'block';
            }else{
                searchWindow.style.display = 'none';
            }
        })
        
    </script>

<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    var __HuxNav__ = {
        close: function(){
            $navbar.className = " ";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        },
        open: function(){
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }

    // Bind Event
    $toggle.addEventListener('click', function(e){
        if ($navbar.className.indexOf('in') > 0) {
            __HuxNav__.close()
        }else{
            __HuxNav__.open()
        }
    })

    /**
     * Since Fastclick is used to delegate 'touchstart' globally
     * to hack 300ms delay in iOS by performing a fake 'click',
     * Using 'e.stopPropagation' to stop 'touchstart' event from 
     * $toggle/$collapse will break global delegation.
     * 
     * Instead, we use a 'e.target' filter to prevent handler
     * added to document close HuxNav.  
     *
     * Also, we use 'click' instead of 'touchstart' as compromise
     */
    document.addEventListener('click', function(e){
        if(e.target == $toggle) return;
        if(e.target.className == 'icon-bar') return;
        __HuxNav__.close();
    })
</script>
